/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DVORAK_L 0
#define NAV_L    0
#define ADJ_L    0
#define RAIS_L   3


/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
/* DVORAK
 * |------+------+------+------+------+------+------+--------------------+------+------+------+------+------+------+------|
 * .----------------------------------------------------------------------------------------------------------------------.
 * | TAB   |   '   |   ,   |   .   |   P   |   Y   |                                   |   F   |   G   |   C   |   R   |   L   | BKSPC |
 * | CTRL  |   A   |   O   |   E   |   U   |   I   |                                   |   D   |   H   |   T   |   N   |   S   |  /    |
 * | SHIFT |   ;   |   Q   |   J   |   K   |   X   |   ~   |                   |  ESC  |   B   |   M   |   W   |   V   |   Z   | SHIFT |
 *                 | ENTER |-------|  GUI  |  ALT  |  Num  |  Nav  |   |  Fun  | SPACE |  ALT  |  GUI  |-------|  APP  |              
 */
                        bindings = <
&kp  TAB      &kp  SQT      &kp  COMMA    &kp  DOT      &kp  P        &kp  Y                                                                         &kp  F        &kp  G        &kp  C        &kp  R        &kp  L        &kp  BSPC
&kp  LCTRL    &kp  A        &kp  O        &kp  E        &kp  U        &kp  I                                                                         &kp  D        &kp  H        &kp  T        &kp  N        &kp  S        &kp  SLASH
&kp  LSHFT    &kp  SEMI     &kp  Q        &kp  J        &kp  K        &kp  X        &kp  GRAVE                                         &kp   ESC     &kp  B        &kp  M        &kp  W        &kp  V        &kp  Z        &kp  RSHFT
                            &kp  ENTER                  &kp  LGUI     &kp  LALT     &mo  NAV_L    &mo  NAV_L             &mo  ADJ_L    &kp  SPACE    &kp  RALT     &kp  RGUI                   &kp  K_APP    
                        >;
                };
        };
};