/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define MAC_L    0
#define WIN_L    1

#define W_SYM_L    2 
// #define M_SYM_L  3
#define W_NAV_L    4
// #define M_NAV_L  5
#define ADJ_L    6

// #define Undo   LC(Z)
#define M_CUT  LG(X)
#define W_CUT  LC(X)
// #define Copy   LC(C)
// #define Paste  LC(V)

/ {
        keymap {
                compatible = "zmk,keymap";

                mac_layer {
/* MAC_L
 * -------------------------------------------------------------------------------------------------------------------------------------
 * |       |   Q   |   W   |   E   |   R   |   T   |-----------------------------------|   Y   |   U   |   I   |   O   |   P   |       |
 * |       |   A   |   S   |   D   |   F   |   G   |-----------------------------------|   H   |   J   |   K   |   L   |   ;   |       |
 * |       |   Z   |   X   |   C   |   V   |   B   | Cut   |-------------------|  WIN  |   N   |   M   |   ,   |   .   |   /   |       |
 * ----------------| CTRL  |-------|  ALT  |  GUI  | SP/SY |  GUI  |---|  SYM  | ENTNAV|  ALT  |  GUI  |-------|   '   |----------------
 */
                        bindings = <
&trans  &kp  Q        &kp  W        &kp  E        &kp  R        &kp  T                                                                        &kp  Y     &kp  U  &kp  I      &kp  O   &kp P            &trans
&trans  &kp  A        &kp  S        &kp  D        &kp  F        &kp  G                                                                        &kp  H     &kp  J  &kp  K      &kp  L   &kp SEMI         &trans
&trans  &mt LSHIFT Z  &kp  X        &kp  C        &kp  V        &kp  B        &kp  M_CUT                                    &tg WIN_L         &kp  N     &kp  M  &kp  COMMA  &kp  DOT &mt RSHIFT SLASH &trans
                      &kp  LCTRL                  &kp  LALT     &kp  LGUI     &lt  SPACE W_SYM_L &kp LGUI     &mo  M_SYM_L  &lt ENTER W_NAV_L &kp  BSPC  &trans              &mo ADJ_L
                        >;
                };

                win_layer {
/* WIN_L
 * -------------------------------------------------------------------------------------------------------------------------------------
 * |       |       |       |       |       |       |-----------------------------------|       |       |       |       |       |       |
 * |       |       |       |       |       |       |-----------------------------------|       |       |       |       |       |       |
 * |       |       |       |       |       |       |       |-------------------|  ESC  |       |       |       |       |       |       |
 * ----------------|       |-------| LALT  | LCTRL |SP/SYM |  GUI  |---|  Num  | SPACE |  ALT  |  GUI  |-------|   '   |----------------
 */
                        bindings = <
&trans &trans &trans &trans &trans   &trans                                                                 &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans   &trans                                                                 &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans   &trans    &kp W_CUT                                  &trans            &trans &trans &trans &trans &trans &trans
              &trans        &kp LALT &kp LCTRL &lt SPACE W_SYM_L &trans       &mo W_SYM_L &lt ENTER W_NAV_L &trans &trans        &trans   
                        >;
                };

                win_sym_layer {

/* W_SYM
 * -------------------------------------------------------------------------------------------------------------------------------------
 * |       |   1   |   2   |   3   |   4   |    5  |-----------------------------------|   6   | 7     |  8    |   9   |  0    |       |
 * |       | `~    |       |       |       |       |-----------------------------------|   +=  |   {[  |  ]}   |   -_  |   '"  |       |
 * |       |       |       |       |       |       |       |-------------------|       |       |       |       |       |   \|  |       |
 * ----------------|       |-------|       |       |       |       |---|       |       |       |       |-------|       |----------------
 */
                        bindings = <
&trans &kp N1    &kp N2 &kp N3 &kp N4 &kp N5                                   &kp N6    &kp N7   &kp N8   &kp N9    &kp N0   &trans
&trans &kp GRAVE &trans &trans &trans &trans                                   &kp EQUAL &kp LBKT &kp RBKT &kp MINUS &kp SQT  &trans
&trans &trans    &trans &trans &trans &trans &trans                     &trans &trans    &trans   &trans   &trans    &kp BSLH &trans
                 &trans        &trans &trans &trans &trans       &trans &trans &trans    &trans            &trans   
                        >;
                };

                win_nav_layer {

/* W_NAV_L
 * -------------------------------------------------------------------------------------------------------------------------------------
 * |       | TAB   |       |       |       |       |-----------------------------------|       |  HOME |   ↑   |  END  |  DEL  |       |
 * |       | ESC   |       |       |       |       |-----------------------------------|       |   ←   |   ↓   |   →   |       |       |
 * |       |       |       |       |       |       |       |-------------------|       |       |       |       |       |       |       |
 * ----------------|       |-------|       |       |       |       |---|       |       |       |       |-------|       |----------------
 */
                        bindings = <
&trans &kp TAB   &trans &trans &trans &trans                                   &trans &kp HOME &kp UP   &kp END   &kp DEL  &trans
&trans &kp ESC   &trans &trans &trans &trans                                   &trans &kp LEFT &kp DOWN &kp RIGHT &transT  &trans
&trans &trans    &trans &trans &trans &trans &trans                     &trans &trans &trans   &trans   &trans    &kp BSLH &trans
                 &trans        &trans &trans &trans &trans       &trans &trans &trans &trans            &trans   
                        >;
                };
		
                adj_layer {
/* ADJUST
 * -------------------------------------------------------------------------------------------------------------------------------------
 * |       | QWERTY| DVORAK| COLEMK|       |       |-----------------------------------|       |Prt Scr|       | EP_OFF| EP_ON |       |
 * |       | BT 0  | BT 1  | BT 2  | BT 3  | BT 4  |-----------------------------------|       |       |       |       |       |       |
 * | BOOTL | RESET |       |OUT_USB|OUT_BLE|       |BT CLR |-------------------|       |       |       |       |       |       | SHIFT |
 * ----------------|       |-------|       |       |       |       |---|       |       |       |       |-------| CTRL  |----------------
 */
                        bindings = <
&none         &to  QWERTY_L &to  DVORAK_L &to  COLEMK_L &none         &none                                                                             &none             &kp PRINTSCREEN    &none         &ext_power EP_OFF  &ext_power EP_ON &none
&none         &bt  BT_SEL 0 &bt  BT_SEL 1 &bt  BT_SEL 2 &bt  BT_SEL 3 &bt  BT_SEL 4                                                                     &none             &none              &none            &none           &none            &none
&bootloader   &reset        &none         &out OUT_USB  &out OUT_BLE  &none         &bt BT_CLR                                         &none            &none             &none              &none            &none           &none            &trans
                            &trans                      &trans        &trans        &trans        &trans                 &trans        &trans           &trans            &trans                              &kp  RCTRL   
                        >;
                };
        };
};